// section{
// display:flex;
// justify-content: center;
//     .item-cointainer{
//       row-gap: 10px;
//  margin-top:2.5rem;
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
//       background-color: white;
//       width:80%;
//       article{
//         padding: 10px;
//         a{
//           display:grid;
//           grid-template-areas: "img_item item item span"
//           "img_item item item span " 
//           "divisor divisor divisor divisor ";
//           text-decoration: none;
//           color:black;

//           img{
//             grid-area: img_item;
//             width: 180px;
//             height: 180px;
//             border-radius: 4px;

//              }
//             div{
//               grid-area: item;
//             }
//             span{
//               text-align: center;
//               grid-area: span;
//             }
//             hr{
//               color:red;
//               grid-area: divisor;
//               width:100%;
//             }

        
//         }
//       }
//     }
// }

article{
  gap: 1rem;
  display: grid;
  a{
    display:flex;
    gap: 1rem;
    color: inherit;
    text-decoration: inherit;
    img{
      height: auto;
      max-width: 180px;
      border-radius: 4px;
      display:block;
      vertical-align: middle;
    }
  }
  p{
    font-size: 1.25rem;
    line-height: 1.75rem
    
  }
  span{
    opacity: 0.5;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left:auto;
    
  }
}