

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


  :root {
    background-color: #EEEEEE;
    color: CanvasText;
    color-scheme: #EEEEEE;
  }



$yellow-300: #f6e05e;
$gray-300: #e2e8f0;
$slate-700: #4a5568;
$gray: gray;

@import "./SearchContainer";
@import "./ItemsContainer";
@import "./ItemPageContainer";
